* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    /* transition: transform 0.3s ease;*/
}

.nav.show-nav {
    transform: translateX(0px);
}

.nav {
    background-color: #30336b;
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav .logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li:first-of-type {
    border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    background-color: #30336b;
    color: #fff;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}

.toggle {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20px;
    left: 20px;
}

.fa {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1597386366480');
    /* IE9 */
    src: url('iconfont.eot?t=1597386366480#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABtQAAAJ2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBNIFCATYCJAMMCwgABCAFhG0HQBsSBhHVkztkXxzYDZ+PtH68QIzBj8GRMLx8JFdNsJ/j4d/9yvuSzN+UUSFKBDieSLWya1SFXFcgRSCBhB7fd67aq1ERZihnjzzq0c/G6UtzFAANzM8MMHsX6g8up78CCmSeZbnMNfCpARYHFOhYgyL7RALxhrGbCBzCaQLdjTZFLF2+dquqAJMCcfbUiUNqLqQoVrYKTc3KIh5qqel+Oh7w78dfs6KStDIwc+PxZUct/LHhx6Z8rX1tL0WECer6FjKmoBD7a1M7ZWHRs+6q0l7cKEKaK9puc1GoaXb6x0tEA1T2BBPUdOLHBswl+LHpDQlk0KBiBtaqtIGhRio6VT17HugR3bf1id47+S0X5m7fOn/H9gXbdszbuvvt263v3m378GHH+/dXry5UjV0LSJcDMs+TH98edULDt04q1eqmdClVaHxNQGSpWw3U52sJbRn+ZqFAUF8efXOgz9xrBXzZu+EKH9NW5IWo51XGDML/KO7ZUkIpMOfii7AozmZDNXdp1D30ag/4+vs+XjOod4JQc2ILkg6jIKvGoIU2BVp6mAONagF0N9mK9T0McFkWpRsmua1A6OsxJL11QdbXa7TQvkHLYP+h0TcydLc9BuzYw7g41X0JpWgMPbV/mjrZGVnNi+obhvfaaFbKGS9onKJUpHkxe8UOnWNO/AylGROrbHRRzsO6CgWVGZ2lo1mosozrPpR2sjnvqGgMPbV/mjrZmfY2X6L+huG9NtpCGvC+oHEanIo074FeVXsv0r28Ez9DacbEKhtdFAdWmBIK9cNmdJaOIxKhyrRO3FeVrq/Zvm8fdAeac6TIURxuPZwY4kuJpLNwDgAA') format('woff2'), url('iconfont.woff?t=1597386366480') format('woff'), url('iconfont.ttf?t=1597386366480') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1597386366480#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
    font-size: 2em;
}

header h1 {
    margin: 0;
}

header p {
    margin: 30px 0;
    word-break: break-word;
}

button,
input[type='submit'] {
    background-color: #be2edd;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
    z-index: 101;
}

.cta-btn {
    padding: 12px 30px;
    font-size: 20px;
}

.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}

.cta-btn {
    padding: 12px 30px;
    font-size: 20px;
}

.modal-container.show-modal {
    display: block;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    animation-name: modalopen;
    animation-duration: 1s;
}

.close-btn {
    background: transparent;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-header {
    background: #30336b;
    color: #fff;
    padding: 15px;
}

.modal-header h3 {
    margin: 0;
    border-bottom: 1px solid #333;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .form-input {
    padding: 8px;
    width: 100%;
}